PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/?replicaSet=rs0
MONGO_APP_DATABASE=enhance_or_bust
MONGO_APP_USERNAME=changeme
MONGO_APP_PASSWORD=changeme
MONGO_APP_DATABASE_LOG=enhance_or_bust_log
MONGO_APP_USERNAME_LOG=changeme
MONGO_APP_PASSWORD_LOG=changeme
REDIS_URL=redis://127.0.0.1:6380
REDIS_PASSWORD=changeme
